{% load static %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type = "text/css" href="{% static 'css/indexstyle.css' %}" media = "screen" />
</head>
<body>

<h1> PROSPECT Career Outline Tool </h1>

<form>
  <fieldset>
  <legend>Personal Information:</legend>
  
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Age: <br>
  <input type = "text" name = "Age"><br>  
  Major: <br>
  <input type = "text" name = "major"><br>
  Major 2: <br>
  <input type = "text" name = "major2"><br>
  Internship: <br>
  <input type = "radio" name = "Internship" value = "yes" checked> Yes<br>
  <input type = "radio" name = "Internship" value = "no"> No<br>  <br>

  <input type = "submit" value = "Submit"><br>    
  </fieldset>
</form>

</body>
</html>