{% load static %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type = "text/css" href="{% static 'css/indexstyle.css' %}" media = "screen" />
</head>
<body>
  {% csrf_token %}

<table style="width:100%">
  <tr>
    <th>Company Name</th>
    <th>Job Title</th> 
    <th>Internship</th>
  </tr>
  <tr>
    <td>W.L Gore and Associates</td>
    <td>Engineer</td> 
    <td>Plexus Solutions</td>
  </tr>
  <tr>
    <td>Geisinger Health System</td>
    <td>Research Assistant</td> 
    <td>None</td>
  </tr>
  <tr>
    <td>Philips Healthcare</td>
    <td>Test Engineer</td> 
    <td>Obern</td>
  </tr>
  <tr>
    <td>Accenture Ltd</td>
    <td>Consulting Analyst</td> 
    <td>Teva Pharm</td>
  </tr>    
  <tr>
    <td>Ecolab Inc.</td>
    <td>Leadership Development Program</td> 
    <td>Ecolab Inc.</td>
  </tr>
  <tr>
    <td>Kimberly-Clark</td>
    <td>Product Developer</td> 
    <td>Kimberly-Clark</td>
  </tr>
  <tr>
    <td>Siemens Corporation</td>
    <td>Assistant Scientist</td> 
    <td>Technical Marketing Leadership</td>
  </tr>
  <tr>
    <td>Janssen Research and Development</td>
    <td>Assistant Scientist</td> 
    <td>Janssen Research and Development</td>
  </tr>  
  <tr>
    <td>BioReliance</td>
    <td>Assistant Scientist</td> 
    <td>Dr. Craig E Cameron Lab</td>
  </tr>
  <tr>
    <td>Align Technology</td>
    <td>Sales Associate</td> 
    <td>GlaxoSmithkLine</td>
  </tr>                
</table>
<img class = "resize" src= "{% static 'PieChart.png' %}">


<h2> Predicted Annual Salary: $50,000 - $55,000 </h2>
</body>
</html>